.ariaRadioGroup:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--token-Pwu_ahOYoc_u);
  min-width: 0;
}
.ariaRadioGroup[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.freeBox___16Nl6 {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: var(--token-Pwu_ahOYoc_u);
}
.radio__ceD3Q:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__vXIq:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__a72Ap:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
