.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-tWw8uZg7uSeO);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-lTBlqMZS3rwn);
  font-family: var(--token-UDVvzjTlmes5);
  font-size: var(--token-gR30wiU1LRnt);
  line-height: var(--token-dkGkayKez0AN);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-N_iNa9h-mnTp);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-Tbvzr9w8GmSP);
  outline-offset: 1px;
  outline-color: var(--token-AiVYzW4ubp2U);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root:global(.__wab_instance) {
    height: 8px;
    overflow: visible;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootglobal_unnamedGlobalGroupOfVariants2_unnamedVariant:global(
      .__wab_instance
    ) {
    overflow-x: visible;
    overflow-y: visible;
    flex-shrink: 0;
    pointer-events: auto;
    isolation: auto;
  }
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-VLsER_D7lvNW);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-wzdL-YGGhern);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-NsGFauYgolqf);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-xqHxG7OD602j);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-s8VbyUcog_2l);
}
.rootcolor_unnamedVariant:global(.__wab_instance) {
  background: var(--token-bHHJuMx2zyxz);
  cursor: auto;
  border-radius: var(--token-N_iNa9h-mnTp);
}
.rootcolor_unnamedVariant2:global(.__wab_instance) {
  background: #e07300;
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-KEl2FUABepw8);
  font-size: var(--token-cJUsuasre7x3);
  column-gap: var(--token-Tbvzr9w8GmSP);
  row-gap: 0px;
  border-radius: var(--token-Pwu_ahOYoc_u);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-cJUsuasre7x3);
  line-height: var(--token-KEl2FUABepw8);
  column-gap: var(--token-Pwu_ahOYoc_u);
  row-gap: 0px;
  border-radius: var(--token-Pwu_ahOYoc_u);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-3LqIu5YiVb3n);
  line-height: var(--token-1rVZNV1S7tIJ);
  font-weight: 500;
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-3LqIu5YiVb3n);
  line-height: var(--token-1rVZNV1S7tIJ);
  font-weight: 700;
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: var(--token-N_iNa9h-mnTp);
}
.rootflatSide_top:global(.__wab_instance) {
  border-radius: var(--token-N_iNa9h-mnTp);
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-radius: var(--token-N_iNa9h-mnTp);
}
.rootflatSide_left:global(.__wab_instance) {
  border-radius: var(--token-N_iNa9h-mnTp);
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootsize_extraLarge_color_unnamedVariant:global(.__wab_instance) {
    max-width: 124px;
    width: auto;
    justify-self: flex-start;
  }
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-tdGKUAvGO7-_);
  border-radius: var(--token-N_iNa9h-mnTp);
}
.softBackgroundcolor_neutral {
  background: var(--token-DgM-VxYQeOW6);
}
.softBackgroundcolor_muted {
  background: var(--token-37RBUj1IVt0y);
}
.softBackgroundcolor_success {
  background: var(--token-z3aNloV8fPiN);
}
.softBackgroundcolor_warning {
  background: var(--token-tM8YYSwcl9BK);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-y0YdMOXc_7po);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.softBackgroundtype_soft_color_neutral {
  background: var(--token-o52vypV0fWlP);
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-N_iNa9h-mnTp);
  border: 0px solid var(--token-aWgnov5sFNlI);
}
.bordercolor_neutral {
  border-color: var(--token-1lRjbUqO6WNp);
}
.bordercolor_muted {
  border-color: var(--token-jxnJgOwWN9av);
}
.bordercolor_success {
  border-color: var(--token-s-zOJHJeePNu);
}
.bordercolor_warning {
  border-color: var(--token-vgNwlL9Wbumv);
}
.bordercolor_errorDestructive {
  border-color: var(--token-spCnkEQIDBPs);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-N_iNa9h-mnTp);
}
.root[data-hovered] .interactionEffect {
  background: var(--token--L2MEm4dRiuL);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-j40emLedphQQ);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-ljazQun5ESds);
}
@media (min-width: 0px) and (max-width: 768px) {
  .interactionEffect {
    bottom: 4px;
    background: none;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: var(--token-_8m4SPxiIjg9);
  }
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .interactionEffectsize_extraLarge_color_unnamedVariant {
    left: 25px;
  }
}
.另外 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-N_iNa9h-mnTp);
  outline-color: #ffa500;
  outline-width: thin;
  outline-style: none;
  background: none;
  min-width: 0;
  min-height: 0;
  border-radius: var(--token-N_iNa9h-mnTp);
  padding: 8px var(--token-Dt9nTZ_vtGF1) var(--token-N_iNa9h-mnTp);
}
@media (min-width: 0px) and (max-width: 768px) {
  .另外 {
    left: 0px;
    top: 0px;
    z-index: 1;
    position: absolute;
    height: 20px;
    margin-bottom: 0px;
    justify-content: center;
    align-items: center;
    width: auto;
    outline-style: none;
    right: 0px;
    border-radius: var(--token-N_iNa9h-mnTp);
    padding: 0.1rem 0rem 0.2rem;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .另外global_unnamedGlobalGroupOfVariants2_unnamedVariant {
    height: 35px;
    min-height: 20px;
    flex-grow: 1;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
.另外color_errorDestructive {
  border-radius: var(--token-N_iNa9h-mnTp);
}
.另外color_unnamedVariant {
  padding-bottom: 0px;
  border-radius: var(--token-N_iNa9h-mnTp);
}
@media (min-width: 0px) and (max-width: 768px) {
  .另外color_unnamedVariant {
    height: 33px;
  }
}
.另外size_extraSmall {
  padding: var(--token-Pwu_ahOYoc_u) var(--token-N_iNa9h-mnTp);
}
.另外size_small {
  padding: var(--token-N_iNa9h-mnTp) var(--token-lTBlqMZS3rwn);
}
.另外size_large {
  padding-top: var(--token-Pwu_ahOYoc_u);
  padding-bottom: var(--token-Pwu_ahOYoc_u);
}
.另外size_extraLarge {
  padding-left: var(--token-rAC3KXBoW267);
  padding-right: var(--token-rAC3KXBoW267);
}
.另外roundedFull {
  padding-right: var(--token-rAC3KXBoW267);
  padding-left: var(--token-rAC3KXBoW267);
}
@media (min-width: 0px) and (max-width: 768px) {
  .另外flatSide_bottom {
    height: 19px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .另外global_unnamedGlobalGroupOfVariants2_unnamedVariant_flatSide_bottom {
    height: 10px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .另外size_extraLarge_color_unnamedVariant {
    height: 30px;
    left: 1px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .另外type_soft_color_neutral_size_extraLarge {
    left: 5px;
    top: 78px;
  }
}
.freeBox___1B8Gm {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart___1B8GmnyylG {
  display: flex;
}
.slotTargetStart {
  color: var(--token-U6tLZjlQvXnS);
}
.slotTargetStartcolor_neutral {
  color: var(--token-XqNRww0Yhm4r);
}
.slotTargetStartcolor_muted {
  color: var(--token-be5euuxFiURr);
}
.slotTargetStartcolor_success {
  color: var(--token-V5L5I3hIICV-);
}
.slotTargetStartcolor_warning {
  color: var(--token-XEbhUz4TS21s);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-7ql3ZTGJtgGt);
}
.slotTargetStarttype_soft {
  color: var(--token-7yEPCW12YO6b);
}
.slotTargetStarttype_bordered {
  color: var(--token-7yEPCW12YO6b);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-cJUsuasre7x3);
}
.slotTargetStartsize_small {
  font-size: var(--token-cJUsuasre7x3);
}
.slotTargetStartsize_large {
  font-size: var(--token-3LqIu5YiVb3n);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-3LqIu5YiVb3n);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-Tuj8pkNzTOOQ);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-Tuj8pkNzTOOQ);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-xNO9hLFEzbm4);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-xNO9hLFEzbm4);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-Fv6lueFxaEls);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-Fv6lueFxaEls);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-DeNHULN_WEAw);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-DeNHULN_WEAw);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-XrSbnbQBSKn1);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-XrSbnbQBSKn1);
}
.svg__iOfZ5 {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-U6tLZjlQvXnS);
}
@media (min-width: 0px) and (max-width: 768px) {
  .slotTargetLabel {
    font-size: 20px;
  }
}
.slotTargetLabelcolor_neutral {
  color: var(--token-XqNRww0Yhm4r);
}
.slotTargetLabelcolor_muted {
  color: var(--token-be5euuxFiURr);
}
.slotTargetLabelcolor_success {
  color: var(--token-V5L5I3hIICV-);
}
.slotTargetLabelcolor_warning {
  color: var(--token-XEbhUz4TS21s);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-7ql3ZTGJtgGt);
}
.slotTargetLabeltype_soft {
  color: var(--token-7yEPCW12YO6b);
}
.slotTargetLabeltype_bordered {
  color: var(--token-7yEPCW12YO6b);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-Tuj8pkNzTOOQ);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-xNO9hLFEzbm4);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-Tuj8pkNzTOOQ);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-Fv6lueFxaEls);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-xNO9hLFEzbm4);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-DeNHULN_WEAw);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-Fv6lueFxaEls);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-XrSbnbQBSKn1);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-DeNHULN_WEAw);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-XrSbnbQBSKn1);
}
.text__yv9Dv {
  white-space: pre;
  align-self: flex-start;
}
.freeBox__chnH {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__chnHZoi8B {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-U6tLZjlQvXnS);
}
.slotTargetEndcolor_neutral {
  color: var(--token-XqNRww0Yhm4r);
}
.slotTargetEndcolor_muted {
  color: var(--token-be5euuxFiURr);
}
.slotTargetEndcolor_success {
  color: var(--token-V5L5I3hIICV-);
}
.slotTargetEndcolor_warning {
  color: var(--token-XEbhUz4TS21s);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-7ql3ZTGJtgGt);
}
.slotTargetEndtype_soft {
  color: var(--token-7yEPCW12YO6b);
}
.slotTargetEndtype_bordered {
  color: var(--token-7yEPCW12YO6b);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-cJUsuasre7x3);
}
.slotTargetEndsize_small {
  font-size: var(--token-cJUsuasre7x3);
}
.slotTargetEndsize_large {
  font-size: var(--token-3LqIu5YiVb3n);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-3LqIu5YiVb3n);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-Tuj8pkNzTOOQ);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-Tuj8pkNzTOOQ);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-xNO9hLFEzbm4);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-xNO9hLFEzbm4);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-Fv6lueFxaEls);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-Fv6lueFxaEls);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-DeNHULN_WEAw);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-DeNHULN_WEAw);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-XrSbnbQBSKn1);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-XrSbnbQBSKn1);
}
.svg__jiqi {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
