.root:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 80px;
  height: 15px;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root:global(.__wab_instance):global(.__wab_instance) {
    height: 22px;
  }
}
.svg__dr6Dq {
  position: relative;
  height: 1em;
}
.text {
  white-space: pre;
  align-self: flex-start;
  font-size: 7px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text {
    align-self: flex-start;
    font-size: 10px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .textglobal_unnamedGlobalGroupOfVariants2_unnamedVariant {
    align-self: flex-start;
  }
}
.svg__ldTgg {
  position: relative;
  height: 1em;
}
