.ariaSlider:global(.__wab_instance) {
  position: relative;
  box-sizing: border-box;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  color: var(--token-eS1b8sRQQFZc);
  font-family: var(--token-UDVvzjTlmes5);
  font-size: var(--token-gR30wiU1LRnt);
  line-height: var(--token-dkGkayKez0AN);
  width: 100%;
  row-gap: var(--token-rAC3KXBoW267);
}
.ariaSlider[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.freeBox__p1ZVs {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  column-gap: var(--token-lTBlqMZS3rwn);
}
.text___3Vxsy {
  position: relative;
}
.freeBox__wBlK {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  padding-top: var(--token-N_iNa9h-mnTp);
  padding-bottom: var(--token-N_iNa9h-mnTp);
  width: 100%;
  min-width: 0;
}
.background {
  display: flex;
  background: var(--token-ebHpheWXvXU2);
  height: var(--token-lTBlqMZS3rwn);
  width: 100%;
  min-width: 0;
  border-radius: 99px;
}
.ariaSliderTrack:global(.__wab_instance) {
  cursor: pointer;
  opacity: 1;
  box-sizing: border-box;
  background: none;
  height: var(--token-lTBlqMZS3rwn);
  width: 100%;
  min-width: 0;
}
.ariaSlider[data-disabled] .ariaSliderTrack:global(.__wab_instance) {
  cursor: not-allowed;
}
.sliderThumb__j9Zn9:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  margin-top: var(--token-Pwu_ahOYoc_u);
}
.foreground {
  display: block;
  background: var(--token-AiVYzW4ubp2U);
  height: var(--token-lTBlqMZS3rwn);
  border-radius: 99px 0rem 0rem 99px;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
